{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">La meilleur façon d'apprendre c'est d'être sur le terrain.</h2>
                    <hr class="divider divider-light"/>
                    <p class="text-white-75 mb-4">Ludovic 33 ans, ancien cuisinier, actuellement en
                        reconversion professionnelle depuis Mars 2022 à
                        la Wild Code School pour obtenir le titre
                        professionnel de Développeur web et web mobile
                        de niveau 5 (RNCP31114).
                        Aujourd'hui je suis à la recherche d'un CDI, à
                        partir du 1er août ayant pour objectif de monter
                        en compétences, et m'épanouir dans le monde
                        professionnel de l'IT.
                        Passionné d'informatique je serai ravi de
                        rejoindre votre équipe et pouvoir commencer à
                        m'épanouir dans le milieu professionnel.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Soft Skills</h2>
            <hr class="divider"/>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Consciencieux</h3>
                        <p class="text-muted mb-0">description à faire</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Persévérant</h3>
                        <p class="text-muted mb-0">description à faire</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Dynamique</h3>
                        <p class="text-muted mb-0">description à faire</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Souriant</h3>
                        <p class="text-muted mb-0">description à faire</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
